{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

<h1>Fencing dummy</h1>

<div class="content-section">

    <p>
        After an injury to my left hand in the spring of 2024, I was looking for a safe way to ease back into fencing
        I was particularly worried about forceful blade contact reinjuring my hand. In addition, I needed to rebuild my
        hand strength.
    </p>
    <p>
        As an epee fencer, I was looking for something that would let me practice point control, beats, and ripostes
        with opposition.
        I looked around online for examples of fencing dummies and realized I had a couple of constraints.
    </p>

    <p>(1) I wanted to build something inexpensive. I wasn't sure how much use I'd get out of it of if I'd like the
        result. The commercial offerings for fencing dummies are several hundred dollars, which was way too high</p>
    <p>(2) The dummy had to be relatively simple. I wanted the parts to be simple, so that I'd spend less time tweaking
        the dummy and more time practicing.</p>
    <p>(3) The dummy had to be freestanding. I don't have a place where I could permanently mount a dummy</p>
    <p>(4) I have woodworking equipment and experience, but no experience with mechanical parts. If possible, I wanted
        to build as much with wood as possible.</p>
    <p>Here are some builds that I used for inspiration:</p>
    <ul>
        <li>
            <a href="https://www.reddit.com/r/Fencing/comments/uyjnv1/comment/ia793ng/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button">Arm
                design</a></li>

        <li><a href="https://www.youtube.com/watch?v=jxTqRgAyD8Q">Mechanical arm</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=bSnBUr7sr6k">Fencing dummy "Boďous"</a>

        </li>
    </ul>


</div>


<div class="content-section">
    <h2>Step 1: Build a base</h2>

    <img src="/static/dummy_base.jpg" height="300px">

    <p>The simplest part of the dummy is the base and pillar. </p>

    <p>Materials:</p>

    <ul>
        <li>Two 6-foot (or however tall you'd like it) lengths of 2x4</li>
        <li>Four 2-foot lengths of 2x4</li>
        <li>2.5" decking screws</li>
    </ul>

    <p>Steps:</p>
    <ul>
        <li>Attach the 6-foot 2x4s to form the pillar.</li>
        <li>Attach the base in a spiral as shown. If possible, get a helper with a level so that the pillar is plumb.</li>
    </ul>
</div>

<div class="content-section">
    <h2>Step 2: Build the arm</h2>

    <img src="/static/dummy_arm_overview.png">
    <p>
    Source: <a href="https://www.reddit.com/user/K_S_ON/">K_S_ON</a>'s   <a href="https://www.reddit.com/r/Fencing/comments/uyjnv1/comment/ia793ng/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button">post</a>
    </p>


    <img src="/static/dummy_arm_animation.gif" height="300px">
    <p> The arm in motion</p>

    <p>Materials:</p>

    <ul>
        <li>Two pieces of 1x4 - roughly 14" for the upper arm and 16" for the forearm.</li>
        <li>Two quarter circles of 3/4" plywood. I cut mine with an 8" radius and a 4" radius.</li>
        <li>Two 1/4" x 3" eyebolts</li>
        <li>One 1/4" x 2" carriage bolt with washer and nut</li>
        <li>One 5/16" x 6" carriage bolt with washer and nut</li>
        <li>1.25" decking screws</li>
    </ul>

    <p>Steps:</p>





    <p>Those holes around the edge of the circle will house an eyebolt and allow for easy adjustment of the arm. Getting those in the correct place is the hardest part of this section.


        <img src="/static/dummy_shoulder_trace.png" width="500px">

    <p>For the shoulder, it's easiest to drill a hole in the about 1 3/4" from the center of the larger quarter circle, then use a bit of scrap wood as a compass to trace a circle. You can drill a series of 1/4" holes along this circle.</p>


    <img src="/static/dummy_upper_arm.png" width="500px">
    <p>
        Source: <a href="https://www.reddit.com/user/K_S_ON/">K_S_ON</a>'s   <a href="https://www.reddit.com/r/Fencing/comments/uyjnv1/comment/ia793ng/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button">post</a>
    </p>
    <p>Assemble the upper arm by attaching the quarter circles on opposite sides of the upper arm.
    </p>

    <p>Drill two holes in the quarter circles about 1 3/4" from the center of the circle. These will be the pivot points.
        One the smaller, drill a 1/4" hole. On the larger, drill a 1/2" hole.
    </p>


    <img src="/static/dummy_forearm.png" width="500px">

    <p>
        Drill a 1/4" hole in forearm. The distance from the end of the forearm should be the slightly larger than radius of the smaller quarter circle of plywood. I drilled mine at 5".
        Use this hole to attach the forearm to the upper arm at the elbow using the 2" carriage bolt.
    </p>
    <img src="/static/dummy_arm_pivot.png" width="500px">

    <p>
        With the elbow assembled, drill a second hole in the forearm, so that the hole will be about 3/4" from the edge of the quarter circle underneath.
    </p>

    <p>Rotate the forearm and, using the same hole in the forearm, drill a series of holes in the quartercircle underneath. </p>


    <p>Finally, drill a 1/2" hole through pillar where you'd like to attach the arm at the shoulder. Attach the arm to the pillar using the 6" carriage bolt</p>

    <img src="/static/dummy_arm_overview.png" width="500px">
    <p>
        Source: <a href="https://www.reddit.com/user/K_S_ON/">K_S_ON</a>'s   <a href="https://www.reddit.com/r/Fencing/comments/uyjnv1/comment/ia793ng/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button">post</a>
    </p>

    <p>Use the two eyebolts to keep the shoulder and elbow in place.</p>

</div>


<div class="content-section">
    <h2>Step 3: Make a chest</h2>

    <p></p>

    <p>Materials:</p>

    <ul>
        <li>12" square piece of wood. Could be 3/4" plywood. I happened to have a scrap board lying around that I could use.</li>

    </ul>

    <p>Steps:</p>

    <img src="/static/dummy_chest.png" width="500px">
    <p>
Attach the chest to the pillar    </p>


</div>

<div class="content-section">
    <h2>Step 4: Decorate</h2>

    <p>So far, we have the structure of a fencing dummy. We just need to arm and cover it and it's functional</p>

    <p>Materials:</p>

    <ul>
        <li>Two U-bolts for a 3/4" pipe. I used <a href="https://www.homedepot.com/p/1-4-in-x-1-1-8-in-x-2-1-16-in-Coarse-Zinc-Plated-308-U-Bolt-806816/204273755">Everbilt #308</a></li>
        <li>A french grip epee</li>
        <li>Duct tape</li>
        <li>Batting, scrap linen or other cloth</li>
    </ul>

    <p>Steps:</p>

    <p></p>

</div>

<!--<div class="content-section">-->

<!--    <h2>Result</h2>-->
<!--    <img src="/static/dummy_result.jpg">-->

<!--    <p></p>-->
<!--</div>-->
{% endblock %}